
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clientvalidate</title>

    <style type="text/css">
        label.error {
            color: red;
        }
    </style>
</head>
<body>
    <div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail">Email address</label>
                <input class="required email" id="exampleInputEmail" name="exampleInputEmail">
            </div>
            <div class="form-group">
                <label for="exampleInputname">name</label>
                <input class="required" id="exampleInputname" name="exampleInputname">
            </div>
            <div class="form-group">
                <label for="exampleInputdate">date</label>
                <input class="required date" id="exampleInputdate" name="exampleInputdate">
            </div>
            <div class="form-group">
                <label for="exampleInputblogs">blogs</label>
                <input class="required url" id="exampleInputblogs" name="exampleInputblogs">
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script type="text/javascript">
        $("form").validate({
            //rules自定义验证规则  需name值
            //messages自定义错误消息提示 需name值
            rules: {
                exampleInputEmail: { required: true, email: true },
                exampleInputname: { required: true },
                exampleInputdate: { required: true, date: true },
                exampleInputblogs: { required: true, url: true }
            },
            messages: {
                exampleInputEmail: { required: "请输入邮箱", email: "邮箱地址错误" },
                exampleInputname: { required: "请输入姓名" },
                exampleInputdate: { required: "请输入日期", date: "日期格式错误" },
                exampleInputblogs: { required: "请输入博客地址", url: "地址格式错误" }
            }
        });

    </script>
</body>
</html>
